/* @media (min-width: 320px) {
  .header-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
  }
  .scene {
    background: url(./images/Scene.svg) 0%, left / cover no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  .nav-main {
    display: flex;
    flex-direction: column;
  }
  .logo {
    background: url(./images/logo.svg) no-repeat;
    width: 212px;
    height: 50px;
    margin: 30px 0 30px 30px;
  }
  .menu-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .menu-main li {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu-main li a {
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .text-main {
    font-family: DM Serif Display;
    font-size: 40px;
    line-height: 100%;
    width: 300px;
   
    margin-left: 20px;
    color: #ffffff;
  }
  .get-started {
    width: 120px;
    height: 30px;
    text-transform: uppercase;
    border: 0;
    font-family: Rubik;
    font-size: 10px;
    line-height: 19px;
   
    display: flex;
    align-items: center;
    padding-left: 10px;
    letter-spacing: 0.05em;
    background: #ee4d47;
    border-radius: 5px;
    color: #ffffff;
    position: relative;
    margin: 0 auto;
  }
  .get-started::before {
    content: '';
    background: url(./images/Union.svg) right / cover no-repeat;
    width: 15px;
    height: 6.35px;
    position: absolute;
    right: 10px;
  }
  .model {
    background: url(./images/mobel.svg) bottom / contain no-repeat;
    width: 320px;
    height: 395px;
    margin-top: auto;
    transform: translateX(-200px);
    transition: transform 0.5s ease-in-out 0.5s;
  }
} 

@media (min-width: 640px) {
  .scene {
    background-position: left;
  }
  .nav-main {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }
  .logo {
    margin: 0;
  }
  .menu-main {
    background-color: transparent;
    gap: 50px;
    justify-content: space-around;
  }
  .menu-main li {
    height: 60px;
    width: auto;
  }
  .menu-main li a {
    font-size: 13px;
  }
  .text-main {
    width: 400px;
    height: 300px;
    font-size: 50px;
    margin: 70px 0 0 50px;
  }
  .get-started {
    width: 220px;
    height: 60px;
    font-size: 16px;
    line-height: 19px;
  
    display: flex;
    margin-left: 50px;
  }
  .get-started::before {
    width: 29.5px;
    height: 12.35px;
    right: 25px;
  }
  .model {
    height: calc(395px - 20%);
    background-position: left;
  }
}
@media (min-width: 768px) {
  .header-main {
    height: 1241.39px;
  }
  .scene {
    background-position: center;
    background-size: cover;
  }
  .menu-main {
    width: 604px;
    height: 60px;
  }
  .menu-main li a {
    font-size: 16px;
  }
  .menu-main li:last-child a {
    width: 158px;
    height: 60px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ee4d47;
    border-radius: 5px;
    color: #ffffff;
  }
  .text-main {
    width: 500px;
    font-size: 75px;
  }
  .get-started {
    width: 220px;
    height: 60px;
    font-weight: bold;
    padding-left: 25px;
  }
  .get-started::before {
    width: 29.5px;
    height: 12.35px;
    right: 25px;
  }
  .model {
    height: 395px;
    width: 475px;
    background-position: bottom;
  }
}

@media (min-width: 1024px) {
  .header-main {
    max-width: 1896px;
  }
  .scene {
    background-position: cover;
    max-width: 1734px;
    height: 1005.12px;
  }
  .nav-main {
    align-items: end;
    justify-content: space-around;
  }
  .logo {
    height: 50px;
  }
  .menu-main {
    justify-content: space-between;
  }
  .text-main {
    width: 741px;
    height: 300px;
    font-size: 90px;
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  .model {
    height: 395px;
    width: 475px;
    margin-top: 190px;
  }
}
*/
/* ====================== BREAKPOINT AT 1200px */
@media (max-width: 1600px) {
  .header-main {
    background: url(./images/Scene.svg) no-repeat;
    max-width: 1896px;
    height: 1241.39px;
    display: grid;
    grid-template-columns: minmax(20px, 240px) 1fr;
    grid-template-rows: repeat(5, max-content);
    row-gap: 110px;
  }
  .nav-main {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 2 / end;
    grid-row: 1;
  }
  .logo {
    background: url(./images/logo.svg) no-repeat;
    width: 212px;
    height: 50px;
  }
  .menu-main {
    width: 604px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
  }
  .menu-main li a {
    height: 19px;
    font-family: Rubik;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .menu-main li:last-child a {
    width: 158px;
    height: 60px;
    display: flex;
    justify-content: center;
    background: #ee4d47;
    border-radius: 5px;
  }
  .text-main {
    width: 741px;
    height: 300px;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 100%;
    display: flex;
    align-items: center;
    color: #ffffff;
    grid-column: 2;
    grid-row: 2;
  }
  .get-started {
    width: 220px;
    height: 60px;
    background: #ee4d47;
    border-radius: 5px;

    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;

    position: relative;
    border: 0;
    padding-left: 25px;
    grid-column: 2;
    grid-row: 3;
  }
  .get-started::before {
    content: '';
    background: url(./images/Union.svg) no-repeat;
    width: 29.5px;
    height: 12.35px;
    position: absolute;
    right: 25px;
  }
  .model {
    background: url(./images/mobel.svg) no-repeat left / contain;
    width: 811px;
    height: 395px;
    transform: translateX(-500px);
    opacity: 0;
    transition: all 0.5s 0.5s;
    grid-column: 1;
    grid-row: 4 / span 2;
    margin-top: auto;
  }
}
.model-animation {
  transform: translateX(0px);
  opacity: 1;
}
@media (max-width: 1200px) {
  .header-main {
    row-gap: 90px;
  }
  .nav-main {
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
  }
  .menu-main {
    margin: 0;
  }
}
